<template>
    <lightning-card title="User Info Detail" icon-name="custom:custom19">
        <div class="slds-m-around_medium">
            <b>My Id: </b>
            {myId}
        </div>
        <div class="slds-m-around_medium">
            <b>First Name: </b>
            {firstName}
        </div>
        <div class="slds-m-around_medium">
            <b>Last Name: </b>
            {lastName}
        </div>
        <div class="slds-m-around_medium">
            <b>Address: </b>
            {address}
        </div>
    </lightning-card>
</template>