<template>
    <lightning-card title="Current User Info" icon-name="custom:custom19">
        <div class="slds-m-around_medium">
            <b>User Id: </b>
            {id}
        </div>
        <div class="slds-m-around_medium">
            <b>User Name: </b>
            {name}
        </div>
        <div class="slds-m-around_medium">
            <b>User Email: </b>
            {email}
        </div>
    </lightning-card>
</template>