<template>
    <lightning-card title={accountName} icon-name={iconName}>
      <template if:false={isActioned}>
        <div slot="actions">
        <lightning-button-icon icon-name="utility:close" class="slds-m-right_x-small" alternative-text="Dimiss" onclick={handleDismissClick}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:check" alternative-text="Complete" onclick={handleCompleteClick}></lightning-button-icon>
      </div>
      </template>
      <template if:true={isActioned}>
        <div class="actioned" slot="actions">
          <lightning-icon if:true={isDismissed} icon-name="utility:close" variant="error" size="x-small" title="Complete"></lightning-icon>
          <lightning-icon if:false={isDismissed} icon-name="utility:check" variant="success" size="x-small" title="Dismiss"></lightning-icon>
          <span class="slds-m-left_xx-small text-dismiss" if:true={isDismissed}>Dismissed</span>
          <span class="slds-m-left_xx-small text-complete" if:false={isDismissed}>Completed</span>
        </div>
      </template>
      <div class="slds-p-left_large">
        <h3 class="slds-text-heading_x-small slds-text-title_bold slds-truncate">{suggestionTitle}</h3>
        <lightning-formatted-rich-text class="slds-line-clamp_small" value={suggestionReason}></lightning-formatted-rich-text>
      </div>
    </lightning-card>
  </template>