<template>
    <lightning-card title="Suggestions" icon-name="standard:action_list_component">
        <lightning-button-icon icon-name="utility:refresh" alternative-text="Refresh" slot="actions" onclick={refresh}></lightning-button-icon>
        <div>
            <template if:false={loading}>
                <template if:true={hasSuggestion}>
                    <div class="suggestions-content slds-p-left_small slds-scrollable">
                        <template for:each={suggestions} for:item="sug">
                            <hr class="slds-m-vertical_none" key={sug.id}></hr>
                            <c-suggestion-card key={sug.id}  
                            account-name={sug.accountName} 
                            account-type={sug.accountType}
                            suggestion-title={sug.title}
                            suggestion-reason={sug.reasonText}
                            ></c-suggestion-card>
                        </template>
                    </div>
                </template>
                <template if:false={hasSuggestion}>
                    <div class="slds-align_absolute-center content-decoration">There is no suggestion.</div>
                </template>
            </template>
            <template if:true={loading}>
                <div class="slds-is-relative content-decoration">
                    <lightning-spinner alternative-text="Loading" variant="brand"></lightning-spinner>
                </div>
            </template>
        </div>
    </lightning-card>

</template>